.body{
    background-image: url(../images/bg.jpg);
    background-size: cover;
   
}
.sls{
    position: absolute;
    right:  0;
    top: 10px;
   

}
.dsl{
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    color:black;
    font-size: 30px;
    display: flex;
    justify-content: center;
}